body{
    background-image:url(../Assects/Images/shoes3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#div{
    border: 2px solid black;
    box-radius: 47px;
    border-radius: 34px 0px 34px 0px;
    box-shadow: 10px 10px 10px;
    width: 450px;
    margin: 243px;
}
#first{
    color: black;
}
#second{
    color: black;
}
#third{
    color: black;
}
#b1:hover {
    background-color: aliceblue;
    color: black;
}
.lb{
    color: black;
}
#sel{
    margin: inherit;
}
.chk{
    color: black;
}